[tool.poetry]
name = "wombo"
version = "0.2.1"
description = ""
authors = ["H3try <skinxedovich@vk.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "2.1.1"
httpx = "^0.24.1"
pillow = {version = "^10.0.0", optional = true}

[tool.poetry.extras]
gif = ["pillow"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
